a.head-logo {
    height: 43.83px;
    margin-top: 3px;
    padding: 10px;
    display: block;
}

img.head-logo {
    width: 70px;
}

a.wheather {
    display: block;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 5px;
    padding: 3px 5px;
    margin-top: 5px;
}

div.wheather-number {
    display: flex;
    align-items: center;
    text-align: right;
    gap: 5px;
}

img.wheather-icon {
    margin-right: 5px;
}

div.wheather-degree {
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    font-weight: 500;
}

a.header-menu {
    display: block;
    padding: 15px 20px;
    border-left: 1px solid rgba(0,0,0,.05);
}

img.ad {
    width: 100%;
    height: 100%;
}

a.ad {
    font-size: 10px;
    color: gray;
    text-decoration: unset;
    font-family: 'Roboto', sans-serif, Arial;
    ;
    font-weight: 300;
}