a.head-logo {
    height: 43.83px;
    margin-top: 3px;
    padding: 10px;
    display: block;
}

img.head-logo {
    width: 70px;
}

img.ad {
    width: 100%;
    height: 100%;
}

a.ad {
    font-size: 10px;
    color: gray;
    text-decoration: unset;
    font-family: 'Roboto', sans-serif, Arial;
    ;
    font-weight: 300;
}